@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

main > * {
    font-family: inherit;
}

body {
    background-repeat: no-repeat;
}

.triangle{
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid rgb(7 89 133);
	border-bottom: 10px solid transparent;
}

[data-slide]:not(.no-slide) {
    opacity: 0;
    transition: all 0.3s ease, transform 1s ease, opacity 1s ease;
}

[data-slide="left"] {
    transform: translateX(4rem);
}
[data-slide="right"] {
    transform: translateX(-4rem);
}
[data-slide="up"] {
    transform: translateY(4rem);
}
[data-slide="down"] {
    transform: translateY(-4rem);
}

[data-slide]:not(.no-slide).i\:open {
    opacity: 1;
    transform: translate(0, 0);
}

