@tailwind base;
@tailwind components;
@tailwind utilities;

main > * {
    font-family: inherit;
}

body {
    background-repeat: no-repeat;
}

.triangle{
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid rgb(7 89 133);
	border-bottom: 10px solid transparent;
}


